:root{
    --textColor:white;
    --navbarFirst:#2F495E;
    --navbarSecond:#00CDD1;
    --cardBg:#22BC9B;
    --singleGroupMain:#2BBBAD;
    --singleGroupTopics:#7664E5;
    --defaultBg:#B8E8E3;
}

.dark{
    --textColor:rgb(209, 209, 209);
    --navbarFirst:#263637;
    --navbarSecond:#489b47;
    --cardBg:#7664E5;
    --defaultBg:#2D2246;
}